<p>Inventory</p>

<table border="1">
  <tr>
    <th>name</th>
    <th>value</th>
    <th>weight</th>
    <th colspan="2"></th>
  </tr>
    <% @inventories.each do |item| %>
      <tr>
        <td><%= item.itemName %></td>
        <td><%= item.value %></td>
        <td><%= item.weight %></td>
      </tr>
    <% end %>
</table>
